body {
    font-family: 'Open Sans', sans-serif;
    min-width: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', monospace;
}

header {
    border-bottom: 3px solid black;
    padding-left: 10px;
}

header>h1 {
    margin-bottom: 10px;
}

.home-team-color {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.away-team-color {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#match-header {
    text-align: center;
    font-size: 1.1em;
}

.material-icons {
    vertical-align: text-bottom;
}