<html lang="en">

<head>
    <title>FiftyTen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.0.10/shaka-player.compiled.js"></script> -->

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.5.1/vue-router.min.js"></script>

    <link href="/styles.css" rel="stylesheet">
</head>

<body>

    <div id="app">

        <header>
            <h1>FiftyTen</h1>
        </header>

        <section>

            <h3>New match</h3>

            <form v-on:submit.prevent="save_match">

                id <input type="text" name="id" required v-model="new_match.id">

                <br><br>


                Home team <select name="home_team" required v-model="new_match.home_team">
                    <option v-for="team in all_teams" v-bind:value="team.id ">{{team.name}}</option>
                </select>

                <br><br>

                Away team <select name="away_team" required v-model="new_match.away_team">
                    <option v-for="team in all_teams" v-bind:value="team.id ">{{team.name}}</option>
                </select>

                <br><br>

                Date time
                <input type="datetime-local" required id="time" name="time" v-model="new_match.date_time">

                <br><br>

                Location <select name="location" required v-model="new_match.location">
                    <option v-for="location in all_locations" v-bind:value="location.id ">{{location.name}}</option>
                </select>

                <br><br>

                grade <input type="text" required name="grade" v-model="new_match.grade">

                <br><br>

                video half time <input type="number" required name="video_halftime_seconds" min=0
                    v-model="new_match.video_halftime_seconds">

                <br><br>

                video gs url <input type="text" required name="gs_url" v-model="new_match.gs_url">

                <br><br>

                home players
                <select name="player" value="" v-on:change="add_home_player(new_home_player)"
                    v-model="new_home_player">
                    <option value="">-- ADD PLAYER --</option>
                    <option v-for="player in all_players" v-bind:value="player.id ">{{player.name}}</option>
                </select>
                <br>
                <div>
                    <p v-for="player in home_players">{{player.name}} - {{player.id}}<button
                            v-on:click.prevent="remove_home_player(player)">X</button></p>
                </div>

                <br>


                away players
                <select name="player" value="" v-on:change="add_away_player(new_away_player)"
                    v-model="new_away_player">
                    <option value="">-- ADD PLAYER --</option>
                    <option v-for="player in all_players" v-bind:value="player.id ">{{player.name}}</option>
                </select>
                <br>
                <div>
                    <p v-for="player in away_players">{{player.name}} - {{player.id}} <button
                            v-on:click.prevent="remove_away_player(player)">X</button> </p>
                </div>

                <br>

                <button type="submit" value="Submit">Save</button>

            </form>

        </section>

    </div>

    <script>

        var firebaseConfig = {
            apiKey: "AIzaSyCJI2WRy12GqQQnQO4AbamEaiR0zwG8vdw",
            authDomain: "rugby-video-app.firebaseapp.com",
            projectId: "rugby-video-app",
            storageBucket: "rugby-video-app.appspot.com",
            messagingSenderId: "726446431890",
            appId: "1:726446431890:web:c4caf3b2f1ca5edc80104b",
            measurementId: "G-VGCS0MFPZB"
        };

        firebase.initializeApp(firebaseConfig);
        var db = firebase.firestore();

        Vue.use(Vuefire.firestorePlugin)

        var router = new VueRouter({
            mode: 'history',
        });

        var app = new Vue({
            router,
            el: '#app',
            data: {
                all_teams: [],
                all_locations: [],
                all_players: [],
                new_home_player: null,
                new_away_player: null,
                home_players: [],
                away_players: [],
                new_match: {},
                match: null,
            },
            mounted: function () {
                // // get match id from query string
                // // match_id = this.$route.query.match
                // // get match id from route
                // match_id = this.$route.path.split('/')[2]
                // console.log('fetching match data for match', match_id)


                const teams_ref = db.collection('teams')
                this.$bind('all_teams', teams_ref)

                const locations_ref = db.collection('pitches')
                this.$bind('all_locations', locations_ref)

                const players_ref = db.collection('players')
                this.$bind('all_players', players_ref)

                // // get scores
                // const scores_ref = db.collection('scores').where('match_id', '==', match_id)
                // this.$bind('scores', scores_ref)

            }, methods: {
                add_home_player: function (player_id) {
                    this.add_player(player_id, this.home_players)
                },
                add_away_player: function (player_id) {
                    this.add_player(player_id, this.away_players)
                },
                add_player: function (player_id, player_list) {
                    if (player_id) {
                        const new_player = db.collection('players').doc(player_id).get().then((doc) => {
                            console.log("Cached document data:", doc.data());
                            player_list.push({ ...doc.data(), 'id': player_id })
                        }).catch((error) => {
                            console.log("Error getting cached document:", error);
                        })
                    }
                },
                remove_away_player: function (player) {
                    this.remove_player(player, this.away_players)
                },
                remove_home_player: function (player) {
                    this.remove_player(player, this.home_players)
                },
                remove_player: function (player, player_list) {
                    const index = player_list.indexOf(player)
                    if (index > -1) {
                        player_list.splice(index, 1)
                    }
                },
                save_match: function (data) {
                    console.log('saving match...')

                    const match_data = {
                        'home_team': db.collection("teams").doc(this.new_match.home_team),
                        'home_team_players': this.home_players.map(player => db.collection("players").doc(player.id)),
                        'away_team': db.collection("teams").doc(this.new_match.away_team),
                        'away_team_players': this.away_players.map(player => db.collection("players").doc(player.id)),
                        'location': db.collection("pitches").doc(this.new_match.location),
                        'date': firebase.firestore.Timestamp.fromDate(new Date(this.new_match.date_time)),
                        'grade': this.new_match.grade,
                        'video_halftime_seconds': this.new_match.video_halftime_seconds,
                        'video_source': { 'gs_url': this.new_match.gs_url }
                    }


                    var match_ref = db.collection("matches").doc(this.new_match.id)

                    return match_ref.set(match_data).then(() => {
                        console.log("Document successfully updated!");
                    }).catch((error) => {
                        // The document probably doesn't exist.
                        console.error("Error updating document: ", error);
                    })
                    alert('match created, redirecting')
                    // window.location.href = 'match/' + match_id
                }
            }
        })

    </script>

</body>

</html>