body {
    font-family: 'Open Sans', sans-serif;
    min-width: 500px;
    max-width: 1000px;
    margin: 0 auto 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', monospace;
}

header {
    border-bottom: 2px solid black;
}

header>h1 {
    margin: 10px;
}

video{
    width: 100%;
}

video:focus{
    outline: none;
}

.team-text {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.material-icons {
    vertical-align: text-bottom;
}